body{
    background-image: linear-gradient( to bottom, #f7f3ef,#535151) ;
    background-attachment: fixed;
}

div{
    width: 600px;
    margin: 0 auto;
    text-align: center;   
}

img{
    width: 500px;
}

h1 {
font-size: 30px;
color: rgb(7, 7, 7);
font-family: Verdana;
padding: 10px;
border: 4px solid #000000;
}

h2{
    font-size: 25px;
    font-family: Verdana;
    color: white; 
    margin: 35px 20px;
}


h3{
    font-size: 18px;
    font-family: Verdana;
    font-weight: normal;
    color:white;
    padding: 10px 0;
    margin-top: 30px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;

}

p{
    font-size: 18px;
    font-family: Verdana;
    color: white;
    text-align: justify; 
    line-height: 32px;
    margin-bottom: 35px;

}


footer {
    font-size: 16px;
    font-family: verdana;
    font-weight: bold;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: black;
    border-radius: 25px;
    text-decoration: none;

}

a{
    text-decoration: none;
    color: white
}
